:root{
    --a-hover-bg-color:rgba(64, 126, 255, 0.4);
}

[data-theme="dark"] {
    --a-hover-bg-color: rgba(64, 126, 255, 0.75);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background: transparent;
}

.nav-links {
    display: flex;
    gap: 16px;
    margin-left: 30%;
    z-index: 99;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 0.2s ease;
    border: 2px solid var(--text-color);
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: var(--bg-color);
    font-weight: 600;
}

.nav-links a:hover {
    border: 2px solid var(--text-color);
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);
    color: var(--text-color);
}

.nav-links a::before {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.nav-links a::before {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
}

.nav-links a:nth-child(1)::before {
    background: #8FB2FF;
}

.nav-links a:nth-child(2)::before {
    background: #A38FFF;
}

.nav-links a:nth-child(3)::before {
    background: #DB8FFF;
}

.nav-links a:nth-child(4)::before {
    background: #14D4FF;
}

.nav-links a:nth-child(5)::before {
    background: #FF8FEA;
}

.nav-links a:nth-child(6)::before {
    background: #FF7152;
}

.nav-links a:nth-child(7)::before {
    background: #FF8FB2;
}

.nav-links a:nth-child(8)::before {
    background: #FFDB8F;
}

.nav-links a:hover::before {
    height: 100%;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.content a {
    position: relative;
    text-decoration: none;
    padding: 2px;
    margin: 2px;
    z-index: 1;
    border-bottom: 1px solid #407eff;
}

.content a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:var(--a-hover-bg-color) ;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s ease;
    z-index: -1;
}

.content a:hover::before {
    transform: scaleY(1);
}

@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background: #ffffff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        margin-left: 0; /* 移动端不留空 */
    }

    .nav-links a {
        font-size: 14px;
        display: block;
        padding: 10px 16px;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links.show {
        display: flex;
    }
}