.navbar {
    display: flex;
    align-items: center;
    padding: 22px 30px;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
    justify-content: end;
    max-width: 750px;
    border-bottom: 1px solid var(--border-color);
}

.active {
    opacity: 1;
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 16px;
    margin-left: 30%;
    z-index: 99;
}

.post-time {
    font-weight: 600;
}

.info {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.nav-links a {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: transparent;
    color: var(--text-color);

}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
}

p {
    margin-bottom: 7px;
!important;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}


@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: var(--bg-color);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        margin-left: 0;
    }

    .nav-links a {
        font-size: 14px;
        display: block;
        padding: 10px 16px;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links.show {
        display: flex;
    }
}