:root {
    --bg-color: white;
    --text-color: #333;
    --blockquote-bg-color: #f6f6f6;
    --del-text-color: #838383;
    --del-line-color: #151515;
    --menu-toggle-color: #333333FF;
    --border-color: #ececec;
    --a-hover-color:#0858ff;
    --about-img:invert(0%);
    --smail-txt-color: #7f848f;
    --text-decoration-color:#8eadff;
}


[data-theme="dark"] {
    --bg-color: #27272a;
    --text-color: #e8e8ec;
    --blockquote-bg-color: #3f3d3d;
    --del-text-color: #dadada;
    --del-line-color: #e8e8e8;
    --menu-toggle-color: #333333FF;
    --border-color: #595b5c;
    --a-hover-color: #4c81fa;
    --about-img:invert(100%);
    --smail-txt-color: #e5e5e5;
    --text-decoration-color: #5884f8;
}

html, body {

    background: var(--bg-color);
}

html {
    height: 100%;
    scroll-behavior: smooth
}

body {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word;
}

h1 {
    font-size: 26px;
}


hr {
    margin: 2rem 0
}

.w p {
    margin: 0 0 1rem 0;
    letter-spacing: 0.02rem;
    line-height: 1.45;
}

.post p {
    text-indent: 40px;
    margin: 1.1rem 0;
    letter-spacing: 0.01rem;
    line-height: 1.6;
}

li {
    margin: 0.4rem 0
}

*:target {
    background: #eaeeff;
    border-radius: 10px;
    padding: 0.5rem
}

.w {
    font-family: "LXGW Wenkai Screen","KaiTi","FangSong", "STKaiti", serif;
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem 2rem 4rem 2rem
}

hr {
    text-align: center;
    border: 0
}

hr:before {
    color: var(--smail-txt-color);
    content: "/////"
}

hr:after {
    color: var(--smail-txt-color);
    content: attr(data-content) "/////"
}

blockquote {
    border-left: 4px solid #7c7c7c;
    padding: 12px 12px 12px 15px;
    background-color: var(--blockquote-bg-color);
    margin: 0;
}

blockquote p {
    text-indent: 0 !important;
    margin: 0.5rem !important;
}

.w a {
    text-underline-offset: 4px;
    text-decoration-color: var(--text-decoration-color);
    color: var(--text-color);
}

.w a:hover {
    text-decoration-color: var(--a-hover-color);
    color: var(--a-hover-color);
}

.twikoo a {
    text-underline-offset: 2px;
    text-decoration-color: #8eadff;
}
.twikoo{
    font-size: 16px;
    font-family: Arial, serif;
}

.top-op {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px !important;
    margin-top: 4rem;

}

article {
    caret-color: transparent;
    margin-bottom: 70px;
}

#imgViewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#imgViewer img {
    max-width: 90%;
    max-height: 90%;
}

del {
    text-decoration: line-through;
    color: var(--del-text-color);
    text-decoration-color: var(--del-line-color);
    text-decoration-thickness: 2px
}