html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    padding-top: 20vh;
    caret-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
}

.content p {
    margin-bottom: 14px;
    margin-top: 0;
    padding: 0;
}

.content-img {
    max-width: 500px;
    min-width: 220px;
}

.page {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 50px;
}

.simple-button {
    caret-color: transparent;
    width: 200px;
    height: 40px;
    color: #424141;
    background-color: #f3f3f3;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #d5d5d5;
    transition: background-color 0.3s ease;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 鼠标悬停时的样式 */
.simple-button:hover {
    background-color: #e0e0e0;
}


a {
    color: #b4b4b4;
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

.separate{
    border: 1px red solid;
    width: 10vw;
}
@media (orientation: portrait) {
    p {
        font-size: 14px;
    }

    a {
        font-size: 10px; /* 增大链接的字体大小 */
    }

    .page {
        flex-direction: column;
    }

    .content-img {
        max-width: 70vw;
    }
}