html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    padding-top: 17vh;
    caret-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
}

.content p {
    margin-top: 0;
    padding: 0;
}

.content-text{
    max-width: 40vw;
}

.content-img {
    max-width: 500px;
    min-width: 220px;
}

.page {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 50px;
}

.simple-button {
    caret-color: transparent;
    width: 200px;
    height: 40px;
    color: #424141;
    background-color: #f3f3f3;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #d5d5d5;
    transition: background-color 0.3s ease;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.simple-button:hover {
    background-color: #e0e0e0;
}

.tips {
    all: unset;
    border-left: 4px solid #71b8ff;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px 15px;
    margin: 10px 0;
    color: #333;
    max-width: 35vw;
    font-size: 16px;
}

a {
    color: #b4b4b4;
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

.separate{
    border: 1px red solid;
    width: 15vw;
}
@media (orientation: portrait) {
    p {
        font-size: 14px;
    }

    a {
        font-size: 10px;
    }

    .page {
        flex-direction: column;
    }

    .content-img {
        max-width: 70vw;
    }
    .separate{
        width: 30vw;
    }
    .content-text{
        max-width: 80vw;
    }
    .tips {
        max-width: 80vw;
    }
}
