
::selection {
    background: rgba(64, 126, 255, 0.8);
    color: #ffffff;
}

:root {
    --bg-color: white;
    --bg-text-color: white;
    --text-color: #333333;
    --a-color: #333;
    --tips-bg-color: #f3f3f3;
    --bottom-info-color: #9b9b9b;
    --a-red: #ff1919;
    --a-blue: #407eff;
    --about-top-img: none;
}

[data-theme="dark"] {
    --bg-color: #363636;
    --bg-text-color: #313131;
    --text-color: #eeeeee;
    --a-color: #c5c5c5;
    --tips-bg-color: #444444;
    --bottom-info-color: #c2c2c2;
    --a-red: #ff3939;
    --a-blue: #528aff;
    --about-top-img: invert(1);
}

* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

p {
    caret-color: transparent;
}

.content {
    padding-top: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 30px;
}

.content-home {
    padding-top: 12vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 30px;
}

.content-text {
    max-width: 45vw;
    padding-bottom: 50px;
}

.content-text p {
    line-height: 1.8;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.08rem;
}

.post-text p {
    line-height: 1.6rem !important;
    text-indent: 2rem;
    margin-bottom: 10px;
}

.content-img-500 {
    max-width: 500px;
}

.content-img-400 {
    max-width: 400px;
}

.content-img-300 {
    max-width: 300px;
}

.page {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.visit {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 12px;
    color: var(--text-color);
}

.simple-button {
    caret-color: transparent;
    width: 130px;
    height: 40px;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    position: relative;
}


.tips {
    all: unset;
    border-left: 4px solid #ff405d;
    background-color: var(--tips-bg-color);
    padding: 10px 15px;
    margin: 20px 0;
    color: var(--text-color);
    max-width: 35vw;
    font-size: 16px;
}

.a-sentence{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
    line-height: 1.5;
    text-align: center;
    color: rgb(145, 150, 161);
}

.bottom-info {
    color: var(--bottom-info-color);
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

a {
    color: var(--text-color);
}

.separate {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px var(--a-red) solid;
    width: 20vw;
}

.tips-2 {
    border-left: 4px solid #7c7c7c;
    padding: 12px 12px 12px 15px;
    background: var(--tips-bg-color);
    margin-bottom: 5px;
    margin-top: 5px;
}

.time {
    border-top: 2px #407eff solid;
    padding-top: 10px;
    color: var(--text-color);
    font-size: 14px;
    margin-top: 50px;
}

.time p {
    font-size: 14px;
}

h1, h2, h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.twikoo .tk-submit .el-textarea__inner {
    min-height: 100px !important;
}

.twikoo a {
    border: none !important;
}

@media (max-width: 768px) {
    .page {
        flex-direction: column;
    }

    .content-img-500, .content-img-300, .content-img-400 {
        max-width: 70vw;
    }

    .separate {
        width: 30vw;
    }

    .content-text {
        min-width: unset;
        max-width: 80vw;
        width: 80vw;
    }

    .content-text p {
        line-height: 1.8;
        font-weight: 500;
        letter-spacing: 0.05rem;
        font-size: 15px;
    }

    .tips {
        max-width: 80vw;
    }

    .time {
        font-size: 14px;
    }
}
