/*::selection {*/
/*    background: rgba(64, 126, 255, 0.8);*/
/*    color: #ffffff;*/
/*}*/

/*:root {*/
/*    --bg-color: #ffffff;*/
/*    --bg-text-color: white;*/
/*    --text-color: #333333;*/
/*    --a-color: #333;*/
/*    --tips-bg-color: #f3f3f3;*/
/*    --bottom-info-color: #9196A1FF;*/
/*    --a-red: #ff1919;*/
/*    --a-blue: #407eff;*/
/*    --about-top-img: none;*/
/*}*/

/*[data-theme="dark"] {*/
/*    --bg-color: #363636;*/
/*    --bg-text-color: #313131;*/
/*    --text-color: #f5f5f5;*/
/*    --a-color: #c5c5c5;*/
/*    --tips-bg-color: #444444;*/
/*    --bottom-info-color: #c0c0c0;*/
/*    --a-red: #ff3939;*/
/*    --a-blue: #528aff;*/
/*    --about-top-img: invert(1);*/
/*}*/

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*html {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*body {*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    background-color: var(--bg-color);*/
/*    color: var(--text-color);*/
/*}*/

/*p {*/
/*    caret-color: transparent;*/
/*}*/

/*.content {*/
/*    padding-top: 20vh;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    font-size: 16px;*/
/*    margin-bottom: 20vh;*/
/*}*/

/*.content-home {*/
/*    padding-top: 12vh;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    font-size: 16px;*/
/*    margin-bottom: 30px;*/
/*}*/

/*.content-text {*/
/*    max-width: 45vw;*/
/*    padding-bottom: 50px;*/
/*}*/

/*.content-text p {*/
/*    line-height: 1.8;*/
/*    font-size: 16px;*/
/*    letter-spacing: 0.02rem;*/
/*}*/

/*.post-text p {*/
/*    line-height: 1.6rem !important;*/
/*    text-indent: 2rem;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.content-img-500 {*/
/*    max-width: 500px;*/
/*}*/

/*.content-img-400 {*/
/*    max-width: 400px;*/
/*}*/

/*.content-img-300 {*/
/*    max-width: 300px;*/
/*}*/

/*.page {*/
/*    justify-content: center;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*.visit {*/
/*    margin-bottom: 20px;*/
/*    margin-top: 10px;*/
/*    font-size: 12px;*/
/*    color: var(--text-color);*/
/*}*/

/*.a-sentence{*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
/*    font-size: 0.9em;*/
/*    line-height: 1.5;*/
/*    text-align: center;*/

/*    color: var(--bottom-info-color);*/
/*}*/


/*.simple-button {*/
/*    width: 130px;*/
/*    height: 40px;*/
/*    color: var(--text-color);*/
/*    background-color: var(--bg-color);*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*    border: 2px solid var(--text-color);*/
/*    caret-color: transparent;*/
/*    margin: 10px;*/
/*}*/

/*.bottom-info {*/
/*    color: var(--bottom-info-color);*/
/*    text-decoration: none;*/
/*    outline: none;*/
/*    font-size: 12px;*/
/*}*/

/*a {*/
/*    color: var(--text-color);*/
/*}*/


/*.tips,.tips-p {*/
/*    border-left: 4px solid #7c7c7c;*/
/*    padding: 12px 12px 12px 15px;*/
/*    background: var(--tips-bg-color);*/
/*    margin-bottom: 5px;*/
/*    margin-top: 5px;*/

/*}*/
/*.tips-p{*/
/*    text-indent: 0 !important;*/
/*    margin: 0 !important;*/
/*}*/

/*.time {*/
/*    border-top: 2px #407eff solid;*/
/*    padding-top: 10px;*/
/*    color: var(--text-color);*/
/*    font-size: 14px;*/
/*    margin-top: 50px;*/
/*}*/

/*.time p {*/
/*    font-size: 14px;*/
/*}*/

/*h1, h2, h3 {*/
/*    margin-bottom: 10px;*/
/*    margin-top: 10px;*/
/*}*/

/*.twikoo .tk-submit .el-textarea__inner {*/
/*    min-height: 100px !important;*/
/*}*/

/*.twikoo a {*/
/*    border: none !important;*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .page {*/
/*        flex-direction: column;*/
/*    }*/

/*    .content-img-500, .content-img-300, .content-img-400 {*/
/*        max-width: 70vw;*/
/*    }*/


/*    .content-text {*/
/*        min-width: unset;*/
/*        max-width: 80vw;*/
/*        width: 80vw;*/
/*    }*/

/*    .content-text p {*/
/*        line-height: 1.8;*/
/*        font-weight: 500;*/
/*        letter-spacing: 0.05rem;*/
/*        font-size: 15px;*/
/*    }*/

/*    .tips {*/
/*        max-width: 80vw;*/
/*    }*/

/*    .time {*/
/*        font-size: 14px;*/
/*    }*/
/*}*/
html, body {
    background: white
}

html {
    height: 100%;
    scroll-behavior: smooth
}

body {
    color: black;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word
}

h2, h3, h4, h5, h6 {
    margin-top: 3rem
}

hr {
    margin: 2rem 0
}

p {
    margin: 0 0 1rem 0;
    letter-spacing: 0.02rem;
    line-height: 1.45;
}

.post p {
    text-indent: 2rem;
}

li {
    margin: 0.4rem 0
}

*:target {
    background: #ffdeb1
}

.w {
    max-width: 700px;
    margin: 0 auto;
    padding: 8rem 2rem 6rem 2rem
}

hr {
    text-align: center;
    border: 0
}

hr:before {
    content: "/////"
}

hr:after {
    content: attr(data-content) "/////"
}

blockquote {
    border-left: 4px solid #7c7c7c;
    padding: 12px 12px 12px 15px;
    background-color: #f3f3f3;
    margin-left: 0;
    margin-right: 0;
}

blockquote p {
    margin: 0
}

a {
    text-underline-offset: 3px;
    color: #2a5fd2;
}

.top-op {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}