html, body {
    background: white;

}

html {
    height: 100%;
    scroll-behavior: smooth
}

body {
    color: #333;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word
}

h1 {
    font-size: 26px;
}


hr {
    margin: 2rem 0
}

p {
    margin: 0 0 1rem 0;
    letter-spacing: 0.02rem;
    line-height: 1.45;
}

.post p {
    text-indent: 2rem;
    margin: 1.1rem 0;
    letter-spacing: 0.01rem;
    line-height: 1.6;
}

li {
    margin: 0.4rem 0
}

*:target {
    background: #ffdeb1
}

.w {
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem 2rem 4rem 2rem
}

hr {
    text-align: center;
    border: 0
}

hr:before {
    content: "/////"
}

hr:after {
    content: attr(data-content) "/////"
}

blockquote {
    border-left: 4px solid #7c7c7c;
    padding: 12px 12px 12px 15px;
    background-color: #f6f6f6;
    margin: 0;
}

blockquote p {
    text-indent: 0 !important;
    margin: 0.5rem !important;
}

a {
    text-underline-offset: 4px;
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
    color: #0858ff;
}

.top-op {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-top: 4rem;
}

article {
    caret-color: transparent;
    margin-bottom: 70px;
}

.small-text, .small-text * {
    font-size: 12px;
    color: #9196a1;
}

.tips {
    background-color: rgba(159, 208, 255, 0.5);
    padding: 3px 5px;
    border-radius: 10px;
}

#imgViewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#imgViewer img {
    max-width: 90%;
    max-height: 90%;
}

.delete {
    text-decoration: line-through;
    color: #838383;
    text-decoration-color: #151515;
    text-decoration-thickness: 2px
}