<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>&nbsp;</title>
    <link rel="stylesheet" href="/style/post.css">
</head>
<body>
<div class="w">
    <p class="top-op"><span> <a href="/">首页</a> / <a href="#" onclick="history.back();">返回</a></span></p>
    <article class="post">
        <h1>聊聊书</h1>
        <p>今天去驿站拿了前两天买的书，当我站在桌前发现手里的书已经无法再放在桌面了，再叠的话就要挡住插线板了，我翻起了桌上的书。</p>
        <p>最上面的是《雪国》我最近并不在读它，它放在最上面是因为书比较小。《雪国》给我深深的物哀的感觉，我十分确定我有这种感觉，而不是因为封面上的：“川端康成唯美主义代表作，洁净之美与悲哀之美。”以及在不同地方已经见过好多次的：“《雪国》是川端康成物哀的巅峰代表作。”但是否因为这些权威定义从而影响了我对这本书的看法？这点我不能确定。</p>
        <p>其次是《百年孤独》最近正在读，没读完，但这种魔幻现实主义很有意思，也不乏一些比较“搞”的句子，比如有一段描写和一个瘦弱女人做爱的段落：“刚一触碰，女郎的骨头像是散了架，仿佛一盒多米诺骨牌哗啦啦一阵混响，她的肌肤在苍白的汗水中融化，她的眼睛盈满泪水，她的整个身体发出悲惨的哀叹，散逸淡淡的淤泥气味。但她以坚强的性格和可敬的勇气承受住了冲击。”这段描写用多米诺骨牌这个比喻实在很难忍住不笑，还是“冲击”多米诺骨牌，我都已经想象到那个声音了。以及还有一段像现在的发病小作文：“蕾梅黛丝在下午两点令人昏昏欲睡的空气中，蕾梅黛丝在玫瑰无声的呼吸中，蕾梅黛丝在蠹虫如沙漏般的暗地蛀蚀中，蕾梅黛丝在清晨面包的热气中，蕾梅黛丝无所不在，蕾梅黛丝无时或缺。”也很“搞”。在读之前都说人名难记，所以开始读这本书时，我就用个txt记着每个人的名字，以及他和其他人的关系、他的工作之类的，忘了直接搜索一下，这也是电子书方便的地方。</p>
        <p>紧接着是《我与地坛》我只记得当时读这本书的那段时间有些其他的事情困扰着我，完全没心思去读书了，所以这本书并没有读完。只看到了史铁生讲他住院和在公园的所见所闻，我从未想过如果我变得和他一样我是否还愿书写，那时是否还想活着可能才是我需要思考的，所以我不愿去想。不过这本书还是不错的。</p>
        <p>《挪威的森林》这本书没费多少劲就读完了，现在记得的只有读完时的惆怅以及文中几段色情描写，完全可以当小黄书看（存疑）但和川端康成的《雪国》给我的感觉还不一样，没有那么“浮”，更加贴近地面一些。</p>
        <p>然后是《黄金时代》我读的书并不多，甚至可以说很少，在我读的这些书中，对于文笔，我觉得都大差不差，而当我读到王小波的《黄金时代》后，我第一次觉得，原来文笔还能这么飘逸，除了飘逸我想不到其他的词语，从书中我觉得这是一个自信而幽默或者说是黑色幽默的灵魂。而让我觉得文笔与众不同的还有下面的一本书，将稍后介绍。当然文中有一段很出名的：“那一天我二十一岁，在我一生的黄金时代。我有好多奢望。我想爱，想吃，还想在一瞬间变成天上半明半暗的云。后来我才知道，生活就是个缓慢受锤的过程，人一天天老下去，奢望也一天天消失，最后变得像挨了锤的牛一样。”书中也不乏性爱描写，但记得不如《挪》那么清楚，书还是很有趣的，常常读着读着笑出来，一下午就能读完。</p>
        <p>下面是一本橙色书包皮的《刀锋》这本书是我朋友送给我的，但实话来说，并没有什么让我记忆很深的地方，也许不太合我胃口。</p>
        <p>《瓦尔登湖》故事很简单，一个人独居湖边，讲述所发生的一切，包括生活起居，柴米油盐，回归生活本身，这本书最后面没读完，因为到后面开始讲宗教之类的了，我并不感兴趣，不过前面的内容还是可以一读的，我记得最清楚的一段是描写湖面，十分优美：“……（说这个湖）它是石头不能将其击破的镜子，它的水银永远不会消褪，它的花纹会得到大自然不断的修补；它的表面永远是光亮的，风暴和灰尘不能使其变得黯淡；任何不洁之物落到这面镜子上都会沉没，或者被太阳的刷子——这是光的擦拭布——掸走；呵在镜面上的气将不留痕迹，而它自身呵出的气则高高升起，变成天空中的云朵，而且还会倒映在它的怀抱里。”我要说一句，为了这句话，我找了半天，问ai，搜索电子书，就是找不到，最后发现因为我只记得是“哈气”还是“呼气”，而文中实际是“呵气”……</p>
        <p>我今天才发现《包法利夫人》居然是十大名著，现在说来记得的感觉就是读完后的难受，为包法利难受，莫名其妙就家破人亡了，文中有一段我记得很清楚，这次我没记错，也很轻松就找到了原文：“他一来就忍不住摸摸她的篦梳、她的戒指、她的肩巾；有时候他张开嘴，大吻她的脸蛋，要不然就顺着她的光胳膊，一路小吻下去，从手指尖一直吻到肩膀；她推开他，半微笑，半腻烦，好像对付一个死跟在你后头的小孩子一样。”这个对付一个小孩子这个比喻太妙了，这段应该是她见识到了上流生活后，不甘心忍受现在的状况。</p>
        <p>下面这本是莫言的《丰乳肥臀》这就是我所说的另一个文笔让我觉得不同的书，我不确定莫言是否一直是这种风格，一个词：“富丽堂皇”他的文字是我第一次有这种感觉，那种纯正的学院派的味道（非贬义）我甚至去查了他大学是不是学的文学，结果你猜如何？“11岁辍学回乡放牧牛羊”……这里省略号放在双引号外面不是想表达内容引用还有很多，而是想表达我不知道该说些什么了。哦还有，这本书也没读完，很厚很厚，写的真的很好，单纯我懒而已。</p>
        <p>好了，最下面的就是我开始买书的起源，让我有读书习惯的开始《断头王后》，而让我买这本书的起源，源于一段话：“玛丽安托瓦内特伸出她轻盈的手抓起王冠，这是一件意外的礼物，她还太年轻，不知道生活不会免费给予任何东西，从命运那里所得到的一切都暗中标上了价格，玛丽安托瓦特觉得她并不会为此付出代价。”这句话我不清楚是不同译者翻译的不同还是被人稍加了改编，在原文中并没找到这句话，不过我找到的原文其实也大差不差，我更喜欢这段。因此，我买了这本书，茨威格写的不错，推荐读读。</p>
        <br>
        <p>当我翻完桌上的书，想着把一些读过的和不想读的放进柜子，打开柜子，我又看到了几本书，便一件件翻了出来。</p>
        <p>最上面是《呐喊》，应该都知道是谁写的吧，但我对这本书其实不太感冒，买它是因为忘了买那本书的时候，付款页面有个再来一单，几块钱就能买，就顺手买了。很薄，但也没读完，就看了前面几章，不是写的不好（非政治正确）我翻了翻发现里面有一段我划线并在旁边写了俩字：“牛逼”，“老栓也向那边看，却只见一堆人的后背：颈项都伸得很长，仿佛许多鸭，被无形的手捏住了的，向上提着。”我隐约想起不知从哪看、谁说的一句话，说要看一个作家的水平，最简单的就是看他的比喻句。今天重温这段话，依然牛逼。</p>
        <p>这段又要和上面那段一样了，其次，然后，紧接，我已经想不出连接词了，直接说书吧，《青铜葵花》我根本没读过，这本书是很久之前搬家我妹的，书边歪歪扭扭写着她的名字，她读这本书的时候那会还是小学吧。</p>
        <p>《昆虫记》也没读过，写虫子的，和我有点相克，我是写程序的。</p>
        <p>下面两本是《水浒传》和《儒林外史》老书，这些都是我妹的，都忘记了是什么时候放柜子里的了，当然……也没读过……</p>
        <p>当我拿开那两本书后，盖在下面的是《深入理解Java虚拟机：JVM高级特性与最佳实践（第3版）》……   我笑了半天，只是因为翻了半天关于文学的书，突然来了个技术类的，再往下翻有什么《Java 核心技术 卷I》、《MySQL技术内幕 InnoDB存储引擎》……这些也没读过多少，走马观花，记住的远没有上面那些书籍多，我只是觉得这个情景很好玩，便想着写下来，也是这篇文章诞生的原因。</p>
        <p>好了，这就是我能翻到的实体书了，其实我用实体书读的不多，我一般先用Zlibrary下载<span style="text-decoration: line-through">盗版</span>电子版，觉得不错就买实体书，买了实体书继续在电子书上读，我也不知道我为什么这么做，谈不上高尚的尊重作者，可我想了想其他原因：或许留个纪念？或许来外人了给别人看看？毕竟实体书能看到，别人会问：“哇，这么多书啊！”，然后我再抱出一大摞书说：“看！还有这些、这些，我都读过！”总比win+e打开文件夹，找到D盘下“图书”文件夹里的txt、epub文件，“看！这些都是我读过的！”这样来的震撼，如果真有人这样做的话，我会觉得这人脑子有泡。</p>
        <p>总觉得如果写到上一句就直接结束仿佛差点意思，但又想不出来什么结束语，而我写完这句话正好。</p>
    </article>
    <div id="tcomment"></div>
    <script src="https://registry.npmmirror.com/twikoo/1.6.41/files/dist/twikoo.min.js"></script>
    <script>
        twikoo.init({
            envId: 'https://comment.jame.work',
            el: '#tcomment',
            lang: 'zh-CN',
        })
    </script>
</div>

</body>

</html>
